<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815508263244-kk5bjn75efugifnt5659vgohb71og1eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815508263244-kk5bjn75efugifnt5659vgohb71og1eu</string>
	<key>API_KEY</key>
	<string>AIzaSyA01oWUH5OT8rMWVEpcHvnW15wiUCl1InE</string>
	<key>GCM_SENDER_ID</key>
	<string>815508263244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.tukareta.nori.rPush</string>
	<key>PROJECT_ID</key>
	<string>rpush-accd7</string>
	<key>STORAGE_BUCKET</key>
	<string>rpush-accd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815508263244:ios:bee82da9ecbad163e73fe9</string>
	<key>DATABASE_URL</key>
	<string>https://rpush-accd7.firebaseio.com</string>
</dict>
</plist>