<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617710568553-qbm1a2sdjond2646jiptt0p8lsbj5gta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617710568553-qbm1a2sdjond2646jiptt0p8lsbj5gta</string>
	<key>API_KEY</key>
	<string>AIzaSyB8sNYTS0ydJShmTvckrKgIswjoH0OgIfc</string>
	<key>GCM_SENDER_ID</key>
	<string>617710568553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.tukareta.nori.YutuberApp</string>
	<key>PROJECT_ID</key>
	<string>youtubapp-44bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubapp-44bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617710568553:ios:36989b424e447586500ef8</string>
	<key>DATABASE_URL</key>
	<string>https://youtubapp-44bd2.firebaseio.com</string>
</dict>
</plist>